.editor{
  @apply my-16 min-h-[20] border border-gray-200 max-w-3xl m-auto rounded-xl shadow-lg;
}

.wrapper{
  @apply p-4;
}

.editor .form-input, .editor .form-textarea{
  @apply w-full border-transparent;
}

.editor .form-input {
  @apply font-bold text-2xl ring-transparent;
  font-variation-settings: 'wdth' 130;

}

.editing-area {
  @apply flex flex-col gap-2 w-full rounded-lg;
}

.editor .options {
  @apply flex gap-2 flex-wrap justify-end;
}

/* .options .option {
  @apply
}  */